.header {
  padding: 45px 0 41px;
  box-sizing: border-box;
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 680px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    max-width: 100%;
    padding: 28px 27px 28px;
  }
}

